html, body {
    margin: 0;
    padding: 0;
    background:purple;
  }

  * {
    box-sizing: border-box;

  }

  .slider {
      width: 90%;
      margin: 60px auto;
  }

  .slick-slide {
    margin: 20px 5px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: red;
    text-height: 50px;
    font-family:bold;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
  }
  
  .slick-active {
    opacity: 1;
  }

  .slick-current {
    opacity: 1;
  }
